*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(60deg, #15783e, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #8d0f24;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.todo-app h3{
    color: #430943;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.rowDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 10px;
}
#input-box {
    text-align: center;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #cf7b1b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#cancel-button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #cf7b1b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    float: left;
}
#save-button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #cf7b1b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    float: right;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative; /*places tasks in line with the unchecked dots */
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #565;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png); /* changes the background image of ul li::before from unchecked to checked when class 'checked' is applied */
}
ul li deleteButton {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%; /* creates circle */
}
ul li deleteButton:hover{
    background: #edeef0;
}

.details-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    text-align: center;
}
.details-app h3{
    color: #430943;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}
.details-app h2{
    color: #8d0f24;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}
.details-app h2 img{
    width: 30px;
    margin-left: 10px;
}